<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 300 - Multiple Choices</title>
</head>
<body>
    <!-- Setting up basic html to display on the /contact page -->
    <h1>Error 300 - Multiple Choices</h1>
    <h2>If you want to contact us, click <a href="./contactus">here.</a></h2>
    <h2>If you want us to contact you, click <a href="./subscribe">here.</a></h2>
    <a href="./">Home</a> 
</body>
</html>