<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!-- Setting up links to display on the /index page -->
    <h1>Home Page</h1>
    <h2>Click a link below to explore:</h2>
    <ul><a href="./about">About Page</a> </ul>
    <ul><a href="./contact">Contact Page</a> </ul>
    <ul><a href="./contactus">Contact Us Page</a> </ul>
    <ul><a href="./subscribe">Subscription Page</a> </ul>
    <ul><a href="./weather">Weather Page</a> </ul>
    <ul><a href="./ghost">Ghost Page</a> </ul>
    <ul><a href="./forbidden">Forbidden Page</a></ul>
    <ul><a href="./notfound">Not Found Page</a> </ul>
</body>
</html>